<ion-tabs>

  <ion-tab-bar slot="bottom" class="ms-tab-bar">
    <ion-tab-button tab="plan-semanal" href="/tabs/plan-semanal">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista-compras" href="/tabs/lista-compras">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comparador" href="/tabs/comparador">
      <ion-icon aria-hidden="true" name="pricetags-outline"></ion-icon>
      <ion-label>Comparar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
